

@media screen and (max-width: 767px) {

    .main-block {
        display: none;
        position: relative;
        height: 100%;
        max-width: 100%;
    }
    
    .main-block::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../images/bedroom-vibe.gif");
        background-repeat: no-repeat;
        background-size: 170%;
        opacity: 0.3;
        z-index: -1;
    }
    
    .main-block::after {
        background-color: #1E1E28;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
        pointer-events: none;
        z-index: 0;
    }
    
    .main-projects-title {
        color: white;
        font-size: 15px;
        font-weight: 600;
        margin-top: 15px;
        text-align: center;
    }
    
    .main-projects-cards {
        display: flex;
        flex-direction: row;
        justify-content: left;
        margin: 10px;
        /* height: 20%; */
        /* margin-left: 20px; */
        /* margin-right: 100px; */
    }

    .main-cards {
        background-color: #2c2c38c9;
        border-radius: 5px;
        display: block;
        margin: 10px;
        padding: 30px;
        /* height: 80%; */
        /* max-height: 100vh; */
        /* width: 80%;
        max-width: 450px; */
    }
    
    .main-cards-title {
        color: white;
        font-size: 17px;
        font-weight: 600;
        margin-bottom: 10px;
        width: 100%;
    }
    
    .main-cards-paragraph {
        color: rgb(255, 255, 255);
        font-size: 0.75rem;
        font-weight: 400;
        margin-bottom: 15px;
        width: 100%;
    }
    
    .main-cards-btn {
        background-color: #0ce3549e;
        border: none;
        border-radius: 5px;
        color: rgba(255, 255, 255, 0.834);
        font-family: "Poppins-bold";
        font-size: 10px;
        padding: 5px;
    }
    
    .title-recommendations {
        color: white;
        font-size: 20px;
        font-weight: 600;
        margin-top: 25px;
        margin-left: 30px;
    }
    
    .title-people-recommendations {
        font-size: 17px;
        color: white;
        margin-bottom: 5px;
    }
    
    .enterprise-recommendations {
        color: rgba(224, 224, 224, 0.622);
        font-size: 10px;
        font-weight: 400;
        margin-bottom: 10px;
    }
    
    .comment-recommendations {
        color: white;
        font-size: 0.85rem;
        font-weight: 400;
    }
    
    .stars-block {
        background-color: #1E1E28;
        border-radius: 15px;
        display: flex;
        height: 28px;
        justify-content: center;
        width: 110px;
    }
    
    .avatar-recommendations {
        border-radius: 50px;
        margin-bottom: 5px;
        width: 60px;
    }

}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    /* Estilos para tablets */
}

@media screen and (min-width: 1024px) {
    /* Estilos para desktops e laptops */
    .avatar-cell-container {
        display: none;
    }

    .main-block {
        position: relative;
        height: 100%;
        margin-left: 100px;
        margin-right: 300px;
        overflow-y: auto;
        max-width: 100%;
    }

    .main-block::-webkit-scrollbar {
        width: 10px;
    }

    .main-block::-webkit-scrollbar-thumb {
        background-color: #24242F;
        border-radius: 4px;
    }
    
    .main-block::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 200%;
        background-image: url("../images/bedroom-vibe.gif");
        /* background-repeat: no-repeat; */
        background-size: 120%;
        opacity: 0.3;
        z-index: -1;
    }
    
    .main-block::after {
        background-color: #1E1E28;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 200%;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
        pointer-events: none;
        z-index: 0;
    }
    
    /* .main-message {
        /* background-image: url("./images/bedroom-vibe.gif"); */
        /* background-color: #2c2c389a;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        border-radius: 5px;
        font-family: "Poppins-bold";
        position: relative;
        z-index: 1;
        height: 25rem;
        margin-top: 50px;
        margin-bottom: 25px;
        margin-left: 30px;
        margin-right: 30px;
        display: flex;
        align-items: center;
        flex-direction: column;
        box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
        line-height: 40px; */
    /* } */
    
    
    /* .main-message::after {
        border-radius: 4.3px;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 20rem;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
        pointer-events: none;
        z-index: 0;
    } */
    
    /* .main-message > h1 {
        color: #0ce354e5;
        font-family: 'Poppins-regular';
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 20px;
        margin-top: 0.5rem;
        text-transform: uppercase;
        text-align: center;
        z-index: inherit;
    }
    
    .main-message > h2 {
        color: rgba(255, 255, 255, 0.834);
        font-family: 'Poppins-regular';
        font-size: 20px;
        font-weight: 200;
        margin-top: 2rem;
        z-index: inherit;
    }
    
    .main-message-saying {
        color: rgba(255, 255, 255, 0.834);
        font-size: 1.1rem;
        font-weight: 600;
        letter-spacing: 3px;
        /* margin-top: 20px; */
        /* overflow: hidden;
        text-align: center;
        width: 90%;
        z-index: inherit; */
    /* } */ 
    
    /* .button-mode {
        display: flex;
        /* margin: 15px auto; */
        /* position: absolute;
        bottom: 40px;
    } */
    
    /* .button-mode > button > a {
        background-color: #0ce354c7;
        border: none;
        border-radius: 5px;
        color: rgba(255, 255, 255, 0.834);
        display: flex;
        flex-direction: column;
        font-family: "Poppins-bold";
        font-size: 12px;
        line-height: 25px;
        padding: 5px 15px;
        margin: 0 20px;
        text-decoration: none;
        z-index: 3;
    } */
    
    /* .button-mode > button > a > span {
        margin-bottom: 0;
    } */
    
    /* .button-mode > button {
        background-color: transparent;
        border: none;
    } */

    /* .main-infos {
        display: inline-flex;
        justify-content: space-between;
        margin: 0 40px;
        margin-top: 15px;
        width: 92%;
    }
    
    .main-infos > p {
        align-items: center;
        color: white;
        margin: 5px;
        font-size: 13px;
        font-weight: 400;
    }
    
    .main-infos-numbers {
        color: #0ce35490;
        font-size: 25px;
        font-weight: 600;
        margin-right: 10px;
    } */
    
    .main-projects-title {
        color: white;
        font-size: 20px;
        font-weight: 600;
        margin-top: 15px;
        margin-left: 30px;
    }
    
    .main-projects-cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* height: 40%; */
        /* flex-wrap: wrap; */
        margin-left: 20px;
        margin-right: 20px;
        /* margin-bottom: 100px; */
    }

    .main-cards {
        background-color: #2c2c38c9;
        border-radius: 5px;
        display: block;
        padding: 30px;
        height: 75%;
        max-height: 100vh;
        margin: 10px;
        width: 80%;
        max-width: 450px;
    }
    
    .main-cards-title {
        color: white;
        font-size: 17px;
        font-weight: 600;
        margin-bottom: 10px;
        width: 100%;
    }
    
    .main-cards-paragraph {
        color: rgb(255, 255, 255);
        font-size: 0.75rem;
        font-weight: 400;
        /* height: 130px; */
        margin-bottom: 15px;
        width: 100%;
    }
    
    .main-cards-btn {
        background-color: #0ce3549e;
        border: none;
        border-radius: 5px;
        color: rgba(255, 255, 255, 0.834);
        font-family: "Poppins-bold";
        font-size: 10px;
        /* letter-spacing: 1px; */
        padding: 5px;
        /* z-index: 3; */
    }
    
    .title-recommendations {
        color: white;
        font-size: 20px;
        font-weight: 800;
        margin-top: 25px;
        /* margin-bottom: 10px; */
        margin-left: 30px;
        text-transform: uppercase;
    }
    
    .title-people-recommendations {
        font-size: 17px;
        color: white;
        margin-bottom: 5px;
    }
    
    .enterprise-recommendations {
        color: rgba(224, 224, 224, 0.622);
        font-size: 10px;
        font-weight: 400;
        margin-bottom: 10px;
    }
    
    .comment-recommendations {
        color: white;
        font-size: 0.85rem;
        font-weight: 400;
        /* margin-bottom: 20px; */
    }
    
    .stars-block {
        background-color: #1E1E28;
        border-radius: 15px;
        /* bottom: 0; */
        display: flex;
        height: 28px;
        justify-content: center;
        /* position: relative; */
        width: 110px;
    }
    
    .avatar-recommendations {
        border-radius: 50px;
        margin-bottom: 5px;
        width: 60px;
    }

    .arrow-down {
        display: none;
    }

    .avatar-block-container-close {
        display: none;
    }

    .about-me {
        background-color: #2c2c38c9;
        border-radius: 5px;
        margin-left: 30px;
        /* margin-right: 30px; */
        margin-top: 10px;
        /* max-width: 100%; */
        padding: 15px;
        width: 89.5%;
    }
    
    .about-me-infos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .about-me-main-infos {
        color: rgba(224, 224, 224, 0.622);
        font-size: 12px;
        height: 200px;
        margin-top: 35px;
    }

    .about-me-main-infos li {
        margin-bottom: 30px;
    }
    
    .about-me-main-infos-span {
        color: white;
        font-weight: 600;
    }

    .avatar {
        border-radius: 50%;
        height: 100px;
        margin-bottom: 5px;
        vertical-align: middle;
        width: 100px;
    }
    
    .avatar-block {
        align-items: center;
        /* background-color: #24242F; */
        display: flex;
        flex-direction: column;
        /* height: 60%; */
        justify-content: center;
        /* margin-top: 30px; */
        width: 18.7em;
    }
    
    .avatar-block p {
        color: #8c8c8e;
        font-size: 14px;
        margin: 3px;
    }
    
    .avatar-block-name {
        color: white;
        display: flex;
        font-size: 18px;
        text-decoration: none;
        transition-duration: 0.5s;
    }
    
    .avatar-block-name:hover {
        transition-duration: 0.5s;
        color: #0ce353;
    }
    
    .avatar-block-name img {
        margin-right: 10px;
    }

    .about-me-resume {
        color: #8c8c8e;
        font-size: 12px;
        /* paddin-left: 20px; */
        margin-bottom: 30px;
        width: 100%;
    }
    
}

@media screen and (max-width: 480px) {
    /* Estilos para telas pequenas em geral */
}

@media screen and (min-width: 1200px) {
    /* Estilos para telas grandes em geral */
}

@media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    /* Estilos para telas de alta resolução (Retina) */
}
