@media screen and (max-width: 767px) {
    /* Estilos para smartphones */
    .left-content {
        /* box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1); */
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
    }
    
    .avatar {
        border-radius: 50%;
        height: 100px;
        margin-bottom: 5px;
        vertical-align: middle;
        width: 100px;
    }
    
    .avatar-block {
        align-items: center;
        background-color: #24242F;
        display: none;
        flex-direction: column;
        height: 35vh;
        justify-content: center;
        /* width: 18.7em; */
    }
    
    .avatar-block p {
        color: #8c8c8e;
        font-size: 14px;
        margin: 3px;
    }

    .avatar-block-close-btn {
        background-color: transparent;
        border: none;
    }

    .avatar-block-container-close {
        display: flex;
        justify-content: right;
        margin-right: 20px;
        width: 100%;
    }
    
    .avatar-block-name {
        color: white;
        display: flex;
        font-size: 18px;
        text-decoration: none;
        transition-duration: 0.5s;
    }
    
    .avatar-block-name:hover {
        transition-duration: 0.5s;
        color: #0ce353;
    }
    
    .avatar-block-name img {
        margin-right: 10px;
    }
    
    .skills-tools-block {
        padding: 10px 30px;
    }
    
    .skills-tools-block p {
        color: white;
        display: flex;
        font-size: 14px;
        line-height: 35px;
    }
    
    .skills-tools-block p img {
        margin-right: 5px;
    }
    
    .skills-tools-block > h2 {
        color: #0ce353;
        font-size: 17px;
        font-weight: 600;
    }
    
    .download-cv-btn {
        background-color: transparent;
        border: none;
        color: white;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 2px;
        padding: 20px 30px;
    }
    
    .download-cv-btn a {
        text-decoration: none;
        color: white;
    }
    
    #scrollable-content {
        background-color: #20202A;
        display: none;
        height: 95%;
        overflow-y: auto;
        scrollbar-width: auto;
    }
    
    #scrollable-content::-webkit-scrollbar {
        width: 7px;
    }
    
    #scrollable-content::-webkit-scrollbar-thumb {
        background-color: #24242F;
        border-radius: 4px;
    }
    
    #social-block {
        align-items: center;
        background-color: #24242F;
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 5%;
        width: 100%;
    }
    
    #social-block i {
        color: white;
        margin: 0 10px;
    }
    
    hr {
        justify-content: center;
        margin: auto;
        opacity: 0.2;
        width: 80%;
    }

    .avatar-cell {
        border-radius: 50px;
        margin-top: 10px;
        width: 40px;
    }

    .avatar-cell-btn {
        align-items: center;
        background-color: transparent;
        border: none;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .arrow-down {
        opacity: 0.8;
        margin-bottom: 2px;
    }

    .avatar-cell-container {
        background-color: #24242F;
        display: flex;
        justify-content: center;
        padding-bottom: 5px;
        width: 100%;
    }

    .skills-title {
        align-items: center;
        background-color: #24242F;
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 5%;
        width: 100%;
    }

    .skills-title h2 {
        color: #ffffff;
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .btn-close-cell {
        border: none;
        color: white;
        right: 10px;
        top: 10px;
        position: absolute;
        text-decoration: none;
    }

    .skills-title button {
        background-color: transparent;
    }

    .closeBtnMenuMobile {
        background-color: transparent;
        border: transparent;
        margin: 20px;
        position: fixed;
        right: 0;
        width: 30px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .closeBtnMenuMobile {
        display: none;
    }
    
    .avatar-cell-container {
        display: none;
    }

    /* Estilos para tablets */
    .left-content {
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
        position: fixed;
        right: 0;
        height: 100%;
        width: 30%;
    }
    
    .skills-tools-block {
        padding: 10px 20px;
    }
    
    .skills-tools-block p {
        color: white;
        display: flex;
        font-size: 12px;
        line-height: 35px;
    }
    
    .skills-tools-block p img {
        margin-right: 5px;
        width: 30px;
    }
    
    .skills-tools-block > h2 {
        color: #0ce353;
        font-size: 15px;
        font-weight: 600;
    }
    
    .download-cv-btn {
        background-color: transparent;
        border: none;
        color: white;
        font-size: 6px;
        font-weight: 600;
        letter-spacing: 2px;
        padding: 10px 25px;
    }
    
    .download-cv-btn a {
        text-decoration: none;
        color: white;
    }
    
    #scrollable-content {
        background-color: #20202A;
        height: 95%;
        max-height: 100%;
        overflow-y: auto;
        /* scrollbar-width: thin; */
    }
    
    #scrollable-content::-webkit-scrollbar {
        width: 10px;
    }
    
    #scrollable-content::-webkit-scrollbar-thumb {
        background-color: #282830;
        border-radius: 4px;
    }
    
    #social-block {
        align-items: center;
        background-color: #24242F;
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 5%;
        width: 100%;
    }
    
    #social-block i {
        color: white;
        margin: 0 10px;
    }
    
    hr {
        justify-content: center;
        margin: auto;
        opacity: 0.2;
        width: 80%;
    }

    .skills-title {
        align-items: center;
        background-color: #24242F;
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 5%;
        width: 100%;
    }

    .skills-title h2 {
        color: white;
        font-size: 15px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .btn-close-cell {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    /* Estilos para desktops e laptops */
    .left-content {
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
        position: fixed;
        right: 0;
        width: 18.7rem;
        height: 100%;
    }
    
    .skills-tools-block {
        padding: 10px 30px;
    }
    
    .skills-tools-block p {
        color: white;
        display: flex;
        font-size: 12px;
        line-height: 35px;
    }
    
    .skills-tools-block p img {
        margin-right: 5px;
    }
    
    .skills-tools-block > h2 {
        color: #ffffff;
        font-size: 14px;
        font-weight: 600;
    }
    
    .download-cv-btn {
        background-color: transparent;
        border: none;
        color: white;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 2px;
        padding: 20px 30px;
        
    }
    
    .download-cv-btn a {
        text-decoration: none;
        color: white;
    }
    
    #scrollable-content {
        background-color: #20202A;
        height: 95%;
        max-height: 100%;
        overflow-y: auto;
        /* scrollbar-width: thin; */
    }
    
    #scrollable-content::-webkit-scrollbar {
        width: 10px;
    }
    
    #scrollable-content::-webkit-scrollbar-thumb {
        background-color: #282830;
        border-radius: 4px;
    }
    
    #social-block {
        align-items: center;
        background-color: #24242F;
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 5%;
        width: 299px;
    }
    
    #social-block i {
        color: white;
        margin: 0 10px;
    }
    
    hr {
        justify-content: center;
        margin: auto;
        opacity: 0.2;
        width: 80%;
    }

    .skills-title {
        align-items: center;
        background-color: #24242F;
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 5%;
        width: 299px;
    }

    .skills-title h2 {
        color: white;
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .btn-close-cell {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    /* Estilos para telas pequenas em geral */
}

@media screen and (min-width: 1200px) {
    /* Estilos para telas grandes em geral */
}

@media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    /* Estilos para telas de alta resolução (Retina) */
}
