

@media screen and (max-width: 767px) {
    /* Estilos para smartphones */
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    /* Estilos para tablets */
}

@media screen and (min-width: 1024px) {
    /* Estilos para desktops e laptops */
    .main-block {
        position: relative;
        height: 100%;
        margin-left: 300px;
        margin-right: 100px;
        overflow-y: auto;
        overflow-x: hidden;
        scrollbar-width: thin;
        max-width: 100%;
    }
    
    .main-block::-webkit-scrollbar {
        width: 7px;
    }
    
    .main-block::-webkit-scrollbar-thumb {
        background-color: #2c2c389a;
        border-radius: 4px;
    }
    
    .main-block::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 58rem;
        background-image: url("../images/bedroom-vibe.gif");
        background-repeat: no-repeat;
        background-size: 100%;
        opacity: 0.3;
        z-index: -1;
    }
    
    .main-block::after {
        background-color: #1E1E28;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 58rem;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
        pointer-events: none;
        z-index: 0;
    }
}

@media screen and (max-width: 480px) {
    /* Estilos para telas pequenas em geral */
}

@media screen and (min-width: 1200px) {
    /* Estilos para telas grandes em geral */
}

@media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    /* Estilos para telas de alta resolução (Retina) */
}
