@media screen and (max-width: 767px) {
    /* Estilos para smartphones */
    #menu-block {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    /* Estilos para tablets */
}

@media screen and (min-width: 1024px) {
    /* Estilos para desktops e laptops */
    #menu-block {
        box-shadow: 1px 1px 1px 3px rgba(0, 0, 0, 0.1);
        height: 100vh;
        top: 0;
        bottom: 0;
        right: 0;
        overflow: hidden;
        position: fixed;
        width: 100px;
    }
    
    #menu-block.expandir {
        background-color: #24242F;
        font-weight: 600;
        transition: 0.2s;
        width: 300px;
        z-index: 3;
    }
    
    #menu-block.fechar {
        background-color: #24242F;
        transition: 0.2s;
        z-index: 3;
    }
    
    #menu-block.expandir ul li.item-menu a .txt-link {
        text-wrap: wrap;
    }
    
    .menu-btn {
        background-color: transparent;
        border: none;
    }
    
    .menu-btn-block {
        background-color: transparent;
        display: flex;
        height: 100px;
        justify-content: center;
    }
    
    ul {
        height: 100%;
        list-style-type: none;
    }
    
    ul li.item-menu {
        transition: 0.2s;
    }
    
    ul li.ativo {
        background-color: #0ce35490;
        border-radius: 5px;
    }
    
    ul li.item-menu:hover {
        background-color: #0ce35490;
        border-radius: 5px;
    }
    
    ul li.item-menu a {
        color: white;
        display: flex;
        font-size: 15px;
        line-height: 40px;
        margin-bottom: 20px;
        padding: 20px 4%;
        text-decoration: none;
    }
    
    ul li.item-menu a .txt-link {
        text-wrap: nowrap;
        margin-left: 50px;
    }
    
    ul li.item-menu a .icon > i {
        margin-left: 33px;
        font-size: 20px;
    }
}

@media screen and (max-width: 480px) {
    /* Estilos para telas pequenas em geral */
}

@media screen and (min-width: 1200px) {
    /* Estilos para telas grandes em geral */
}

@media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    /* Estilos para telas de alta resolução (Retina) */
}
