@font-face {
    font-family: Poppins-regular;
    src: url(./fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins-bold;
    src: url(./fonts/Poppins-Bold.ttf);
}


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1E1E28;
    margin: 0;
    padding: 0;
    font-family: 'Poppins-regular', sans-serif;
    height: 100vh;
}

#header-block {
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 18.7rem;
    height: 100%;
}

.avatar {
    border-radius: 50%;
    height: 100px;
    margin-bottom: 5px;
    vertical-align: middle;
    width: 100px;
}

#avatar-block {
    align-items: center;
    background-color: #24242F;
    display: flex;
    flex-direction: column;
    height: 35vh;
    justify-content: center;
    width: 18.7em;
}

#avatar-block p {
    color: #8c8c8e;
    font-size: 14px;
    margin: 3px;
}

.avatar-block-name {
    color: white;
    display: flex;
    font-size: 18px;
    text-decoration: none;
    transition-duration: 0.5s;
}

.avatar-block-name:hover {
    transition-duration: 0.5s;
    color: #0ce353;
}

.avatar-block-name img {
    margin-right: 10px;
}

#address-block {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    height: 100px;
    margin-top: 20px;
}

#address-block div {
    width: 100%;
    box-sizing: border-box;
    padding: 0 30px;
}

#address-block p {
    color: white;
    margin: 0;
}

#address-block span {
    color: #8c8c8e;
    float: right;
}

hr {
    justify-content: center;
    margin: auto;
    opacity: 0.2;
    width: 80%;
}

.wrapper-center {
    display: flex;
    margin: 0 15px;
    margin-bottom: 25px;
    justify-content: space-between;
}

#skills-block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 14px;
    padding: 20px 30px;
    margin-bottom: 10px;
}

#skills-block p {
    color: white;
    font-size: 12px;
}

#skills-block span {
    float: right;
}

.skills-tools-block {
    padding: 10px 30px;
}

.skills-tools-block p {
    color: #8c8c8e;
    display: flex;
    font-size: 14px;
    line-height: 35px;
}

.skills-tools-block p img {
    margin-right: 5px;
}

.skills-tools-block > h2 {
    color: white;
    font-size: 15px;
    font-weight: 400;
}

.download-cv-btn {
    background-color: transparent;
    border: none;
    color: #8c8c8e;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 20px 30px;
    
}

.download-cv-btn a {
    text-decoration: none;
    color: #8c8c8e;
}

#scrollable-content {
    background-color: #20202A;
    height: 60%;
    max-height: 100vh;
    overflow-y: auto;
    scrollbar-width: thin;
}

#scrollable-content::-webkit-scrollbar {
    width: 7px;
}

#scrollable-content::-webkit-scrollbar-thumb {
    background-color: #24242F;
    border-radius: 4px;
}

#social-block {
    align-items: center;
    background-color: #24242F;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 5%;
    width: 300px;
    
}

#social-block i {
    color: #8c8c8e;
    margin: 0 10px;
}

#menu-block {
    box-shadow: 1px 1px 1px 3px rgba(0, 0, 0, 0.1);
    height: 100vh;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    position: fixed;
    width: 100px;
}

#menu-block.expandir {
    background-color: #24242F;
    font-weight: 600;
    transition: 0.2s;
    width: 300px;
    z-index: 3;
}

#menu-block.fechar {
    background-color: #24242F;
    transition: 0.2s;
    z-index: 3;
}

#menu-block.expandir ul li.item-menu a .txt-link {
    text-wrap: wrap;
}

.menu-btn {
    background-color: transparent;
    border: none;
}

.menu-btn-block {
    background-color: transparent;
    display: flex;
    height: 100px;
    justify-content: center;
}

#main-block {
    position: relative;
    height: 100%;
    margin-left: 300px; 
    margin-right: 100px;
    overflow-y: auto;
    scrollbar-width: thin;
    max-width: 74%;
}

#main-block::-webkit-scrollbar {
    width: 7px;
}

#main-block::-webkit-scrollbar-thumb {
    background-color: #24242F;
    border-radius: 4px;
}

#main-block::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20rem;
    background-image: url("./images/bedroom-vibe.gif");
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.3;
    z-index: -1;
}

#main-block::after {
    background-color: #1E1E28;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20rem;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
    pointer-events: none;
    z-index: 0;
}

.main-message {
    background-image: url("./images/bedroom-vibe.gif");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    border-radius: 5px;
    font-family: "Poppins-bold";
    position: relative;
    z-index: 1;
    height: 20rem;
    margin-top: 50px;
    margin-bottom: 25px;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
    line-height: 40px;
}


.main-message::after {
    border-radius: 4.3px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20rem;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    pointer-events: none;
    z-index: 0;
}

.main-message > h1 {
    color: white;
    font-family: cursive;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    z-index: inherit;
}

.main-message > h2 {
    color: white;
    font-family: cursive;
    font-size: 20px;
    font-weight: 600;
    margin-top: 50px;
    text-align: center;
    text-transform: uppercase;
    z-index: inherit;
}

.main-message > h2 > img {
    width: 30px;
}

.main-message > h3 {
    border-right: #fff solid 2px;
    color: #0ce353;
    font-size: 15px;
    margin-bottom: 20px;
    overflow: hidden;
    text-align: center;
    width: max-content;
    white-space: nowrap;
    z-index: inherit;
}

.button-mode {
    display: flex;
    margin: 15px auto;
}

.button-mode > button {
    background-color: white;
    border: none;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    color: black;
    font-family: "Poppins-bold";
    padding: 5px;
    margin: 0 20px;
    z-index: 3;
}

.typing-animation {
    animation: blinkCursor 500ms steps(40) infinite normal, typing 4s steps(40) 1s normal both;
}

@keyframes blinkCursor {
    from {
        border-right-color: #fff;
    }
    to {
        border-right-color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 14em;
    }
}

.theme-btn {
    height: 30px;
    width: 100px;
}

.theme-btn > i {
    margin-bottom: 10px;
}

.theme-btn > p {
    color: white;
    font-size: 10px;
}

.language-btn {
    height: 30px;
    width: 100px;
}

.language-btn > i {
    margin-bottom: 10px;
}

.language-btn > p {
    color: white;
    font-size: 10px;
}

.main-infos {
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
}

.main-infos > p {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    color: white;
    font-size: 15px;
    font-weight: 200;
    text-align: center;
}

.main-infos-numbers {
    color: #0ce353;
    font-size: 25px;
    font-weight: 600;
}

.main-projects-title {
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-top: 50px;
    margin-left: 30px;
}

.main-projects-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 1200px;
    height: 400px;
}

.main-cards {
    align-items: center;
    background-color: #2C2C38;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    padding: 20px;
    text-align: center;
    width: 42%;
}

.main-cards-title h1 {
    color: white;
    font-size: 18px;
    font-weight: 600;
    width: 100%;
}

.main-cards-paragraph {
    color: rgb(141, 141, 141);
    font-size: 13px;
    font-weight: 400;
    height: 130px;
    margin-top: 10px;
    width: 100%;
}

.main-cards-btn {
    background-color: transparent;
    border: none;
    color: #0ce353;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 8px 0;
    cursor: pointer;
    border-radius: 3px;
}

.project-one {
    margin-left: 10px;
}

.project-two {
    margin-right: 10px;
}

ul {
    height: 100%;
    list-style-type: none;
}

ul li.item-menu {
    transition: 0.2s;
}

ul li.ativo {
    background-color: #0ce35490;
    border-radius: 5px;
}

ul li.item-menu:hover {
    background-color: #0ce35490;
    border-radius: 5px;
}

ul li.item-menu a {
    color: white;
    display: flex;
    font-size: 15px;
    line-height: 40px;
    margin-bottom: 20px;
    padding: 20px 4%;
    text-decoration: none;
}

ul li.item-menu a .txt-link {
    text-wrap: nowrap;
    margin-left: 50px;
}

ul li.item-menu a .icon > i {
    margin-left: 33px;
    font-size: 20px;
}

#main-recommendations {
    display: flex;
    flex-direction: row;
    height: 320px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 100px;
}

.title-recommendations {
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 30px;
}

#main-recommendations div {
    background-color: #2C2C38;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 30px;
    height: 100%;
    margin: 10px;
    width: 50%;
}

.title-people-recommendations {
    font-size: 15px;
    color: white;
    margin-bottom: 5px;
}

.enterprise-recommendations {
    color: #8c8c8e;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 20px;
}

.comment-recommendations {
    color: #8c8c8e;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 20px;
}

.stars-block {
    background-color: #1E1E28;
    border-radius: 15px;
    display: flex;
    height: 28px;
    justify-content: center;
    width: 110px;
}

.avatar-recommendations {
    border-radius: 50px;
    margin-bottom: 10px;
    width: 80px;
}