* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100vh;
}

body {
    background-color: #1E1E28;
    margin: 0;
    padding: 0;
    font-family: 'Asap';
}

#header-block {
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 300px;
    height: 100%;
}

.avatar {
    border-radius: 50%;
    height: 100px;
    vertical-align: middle;
    width: 100px;
}

#avatar-block {
    align-items: center;
    background-color: #24242F;
    display: flex;
    flex-direction: column;
    height: 30%;
    justify-content: center;
    width: 300px;
}

#avatar-block p {
    color: #8c8c8e;
    font-size: 14px;
    margin: 3px;
}

.avatar-block-name {
    color: white;
    font-size: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
    text-decoration: none;
    transition-duration: 0.5s;
}

.avatar-block-name h1:hover {
    transition-duration: 0.5s;
    color: #0ce353;
}

#address-block {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    height: 100px;
    margin-top: 20px;
}

#address-block div {
    width: 100%;
    box-sizing: border-box;
    padding: 0 30px;
}

#address-block p {
    color: white;
    margin: 0;
}

#address-block span {
    color: #8c8c8e;
    float: right;
}

hr {
    justify-content: center;
    margin: auto;
    opacity: 0.2;
    width: 80%;
}

.wrapper-center {
    display: flex;
    margin: 0 15px;
    margin-bottom: 25px;
    justify-content: space-between;
}

.progress-bar {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px; 
}
.progress-bar:before {
    content: "";
    position: absolute;
    right: 0;
    width: 50%;
    z-index: 0;
}
/*===== The CSS =====*/
.progress{
    width: 200px;
    height: 280px;
    z-index: 1;
}
.progress .track, .progress .fill{
    fill: rgba(0, 0, 0, 0);
    stroke-width: 3;
    transform: rotate(90deg)translate(0px, -80px);
}
.progress .track{
    stroke: #191923;
}
.progress .fill {
    stroke: #0ce353;
    stroke-dasharray: 219.99078369140625;
    stroke-dashoffset: -219.99078369140625;
    transition: stroke-dashoffset 1s;
}
.progress .value {
    fill: #0ce353;
    text-anchor: middle;
}
.progress .text {
    font-size: 12px;
    fill: #fff;
    text-anchor: middle;
}

.barra-progresso {
    background-color: #191923;
    height: 5px;
    margin: auto;
    margin-top: 15px;
    width: 100%;
}

.barra-progresso-html {
    background-color: #0ce353;
    width: 100%;
    height: 5px;
}

.barra-progresso-css {
    background-color: #0ce353;
    width: 100%;
    height: 5px;
}

.barra-progresso-js {
    background-color: #0ce353;
    width: 100%;
    height: 5px;
}

.barra-progresso-python {
    background-color: #0ce353;
    width: 30%;
    height: 5px;
}

.barra-progresso-ts {
    background-color: #0ce353;
    width: 50%;
    height: 5px;
}

.barra-progresso-react {
    background-color: #0ce353;
    width: 90%;
    height: 5px;
}

.barra-progresso-mysql {
    background-color: #0ce353;
    width: 40%;
    height: 5px;
}

.barra-progresso-wordpress {
    background-color: #0ce353;
    width: 70%;
    height: 5px;
}

#skills-block {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    padding: 20px 30px;
    margin-bottom: 10px;
}

.barra-progresso-pai {
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
}

#skills-block p {
    color: white;
    font-size: 12px;
}

#skills-block span {
    float: right;
}

#skills-tools-block {
    padding: 20px 30px;
}

#skills-tools-block p {
    color: #8c8c8e;
    font-size: 14px;
    line-height: 25px;
}

.check-icon {
    width: 10px;
}

.download-icon {
    width: 10px;
}

.download-cv-btn {
    background-color: transparent;
    border: none;
    color: #8c8c8e;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 20px 30px;
    
}

.download-cv-btn a {
    text-decoration: none;
    color: #8c8c8e;
}

#scrollable-content {
    height: 65%;
    max-height: 100vh;
    overflow-y: auto;
    scrollbar-width: thin;
}

#scrollable-content::-webkit-scrollbar {
    width: 7px;
}

#scrollable-content::-webkit-scrollbar-thumb {
    background-color: #0ce353;
    border-radius: 4px;
}

#social-block {
    align-items: center;
    background-color: #24242F;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 5%;
    width: 300px;
    
}

#social-block img {
    margin: 0 10px;
    width: 15px;
}

#menu-block {
    box-shadow: 1px 1px 1px 3px rgba(0, 0, 0, 0.1);
    height: 100vh;
    right: 0;
    position: fixed;
    width: 100px;
}

.menu-icon {
    margin: auto;
    width: 25px;
}

.menu-btn {
    background-color: transparent;
    border: none;
    
}

.menu-btn-block {
    background-color: #24242F;
    display: flex;
    height: 100px;
    justify-content: center;
}

#main-block {
    position: relative;
    height: 100%;
    margin-left: 300px; 
    margin-right: 100px;
    overflow-y: auto;
    scrollbar-width: thin;
}

#main-block::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-image: url("./images/215911.gif");
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.1;
    z-index: -1;
}

#main-block::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
    pointer-events: none;
    z-index: 0;
}

.main-message {
    background-image: url("./images/215911.gif");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    border-radius: 5px;
    font-family: "Poppins";
    position: relative;
    z-index: 1;
    height: 300px;
    margin: 50px 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
}


.main-message::after {
    border-radius: 4.3px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    pointer-events: none;
    z-index: 0;
}

.main-message > h1 {
    color: white;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    z-index: inherit;
}

.main-message > h2 {
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin-top: 50px;
    text-align: center;
    z-index: inherit;
}

.main-message > h3 {
    border-right: #fff solid 2px;
    color: white;
    font-size: 10px;
    margin-bottom: 20px;
    overflow: hidden;
    text-align: center;
    width: max-content;
    white-space: nowrap;
    z-index: inherit;
}

.button-mode {
    display: flex;
    margin: 30px auto;
}

.button-mode > button {
    background-color: #0ce353;
    border: rgba(0, 0, 0, 0.572) solid 1px;
    border-radius: 5px;
    color: white;
    font-family: "Poppins";
    padding: 7px;
    margin: 0 20px;
    z-index: 3;
}

.typing-animation {
    animation: blinkCursor 500ms steps(40) infinite normal, typing 4s steps(40) 1s normal both;
}

@keyframes blinkCursor {
    from {
        border-right-color: #fff;
    }
    to {
        border-right-color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 18em;
    }
}